
  html {
    scroll-behavior: smooth;
  }

  body {
      margin: 0;
      font-family: Arial, sans-serif;
  }

  main {
      margin-left: 220px;
      padding: 20px;
  }

  .navigacio {
      position: fixed;          
      top: 0;
      left: 0;
      width: 220px;           
      height: 100vh;            
      background: burlywood;     
      color: white;
      display: flex;
      flex-direction: column;  
      align-items: center;
      padding-top: 250px;
  }

  .navigacio p {
      margin: 50px 0;
      font-size: 18px;
      cursor: pointer;
      transition: color 0.3s;
  }

  .navigacio p:hover {
      color: #e0e0e0;        
  }

  nav a{
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  nav a:hover, nav a:focus-visible{
    color: white;
  }

  img{
    height: 200px;
  }

  h1{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #menu {  
  background-image: url("../Képek/menu_bg.jpg");
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../Képek/menu_bg.jpg");
    
  }




 #gasztronomia {
  position: relative;
  display: flex;
  flex-direction: column; 
  justify-content: center;  
  align-items: center; 
  padding: 40px 100px;
  text-align: center;     
  overflow: hidden;
  z-index: -1; 
}

#gasztronomia::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../Képek/gasztronomia_bg.jpg") center/cover no-repeat;
  filter: blur(8px);
  transform: scale(1.1);
  z-index: -1;
}

#gasztronomia h1,
#gasztronomia p {
  position: relative;
  z-index: 1;
  color: white;
}

#gasztronomia h1 {
  margin-bottom: 20px;
  border-bottom: 2px solid #734f20;
}

#gasztronomia p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 800px;
}


#kapcsolat {
   color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../Képek/kapcsolat_bg.jpg");
}

.contact-container {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  padding: 50px 50px;
  border-radius: 20px;
  max-width: 700px;

}

.contact-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
  border-bottom: 2px solid #734f20;
  display: inline-block;
  padding-bottom: 10px;
}

.contact-container p {
  line-height: 1.6;
  margin: 10px;
}


.btn {
  background-color:  #734f20;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  margin: 0 10px;
}

.btn:hover {
  background-color: #593700;
}


  /* !!!!!!!!!!!!!! az oldal bal oldalata csinaljam meg responzivra !!!!!!!!!!!!!!! */