  .navigacio {
      position: fixed;          
      top: 0;
      left: 0;
      width: 220px;           
      height: 100vh;            
      background: rgb(65, 37, 0);     
      color: white;
      display: flex;
      flex-direction: column;  
      align-items: center;
      padding-top: 250px;
  }

  .navigacio p {
      margin: 50px 0;
      font-size: 18px;  
  }

  .navigacio p:hover {
      color: #e0e0e0;        
  }